@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@600&display=swap');

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  margin: 0;
  font-family: Montserrat !important;
  scroll-behavior: smooth;
}

.App {
  height: fit-content;
  background-color: #FAF1E4 !important;
}

.content {
  padding-top: 100.500px;
  padding-bottom: 68.500px;
}


#imageContainer {
  white-space: nowrap;
  overflow: hidden;
}

.image {
  display: inline-block;
  margin-right: 20px;
  /* Adjust the spacing between images */
  animation: scroll 200s linear infinite;
  /* Adjust the speed of scrolling */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.tss-178gktx-MUIDataTableHeadCell-contentWrapper {
  display: flex !important;
  justify-content: center !important;
}

main.MuiBox-root {
  background-color: #F2FFE9;
}

.css-1r9jet7 {
  background-color: #F2FFE9;
}

.swal2-title {
  width: 100% !important;
}

.swal2-popup {
  font-size: medium !important;
}

.movie-card-list:hover {
  .show-content {
    display: block;
  }

  background-color: rgba(59, 59, 59, 0.699);
  background-blend-mode: darken;

  .show-content-actions {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.hide-content {
  display: none;
}

.show-content-actions {
  display: none !important;
}

.date-picker-container {
  background-color: #cfc9bf !important;
}

.dM {
  width: 90% !important;
}

.Kq::after {
  content: none !important;
  /* or content: ''; */
}

/* Your CSS file or inline styles */
/* Adjust the seatButton class based on screen size */
.seatButton {
  width: 40px;
  /* Default width */
}

/* For smaller screens */
@media screen and (max-width: 600px) {
  .seatButton {
    width: 30px;
    /* Adjust width for smaller screens */
    /* Other adjustments as needed */
  }
}